<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        p,h3{
            direction: rtl;
        }
    </style>
</head>
<body>
<div style="padding: 6%;">
<h3 style="direction: rtl">الشروط والاحكام:</h3>
<p>
    تتجدد شروط الاستخدام من حين لآخر، وفي حالة إجراء مثل هذه التحديثات سيعرض تطبيق وثاق تنبيهات لكي يكون (العميل / المُستخدِم) على علم بها. استمرار المُستخدِم في استعمال تطبيق وثاق قائم على قبول شروط وأحكام الاستخدام الآتية، حسب ما يجري تعديلها من وقت لآخر من أجل خدمة أفضل وجودة أعلى. علماً بأن أي مخالفة لهذه الاتفاقية من قبل (العميل / المُستخدِم) قد تعرض حسابه للإيقاف دون إشعار مسبق وبلا أي مبالغ مسترجعة في بعض الحالات.</p>

<p>أسباب إيقاف الحساب في تطبيق وثاق:
يحتفظ تطبيق وثاق بحقه في تجميد أي حساب أو حتى إيقافه بشكل دائم والذي يطبّق على حساب العميل بسبب استخدام غير قانوني أو غير مناسب لخدمات الموقع.
    قد يتلقى المستخدمون/ العملاء تنبيها بسبب انتهاك الشروط والقوانين أو أي استخدام غير مناسب للموقع ويصل التنبيه إلى العميل على الموقع مباشرةَ أو عبر البريد الإلكتروني المرتبط بالتسجيل. علماً بأن التنبيه لا يوقف نشاط الحساب فقط بل قد يؤدي لإيقاف الحساب ذاته بشكل دائم حسب شدة المخالفة.</p>
<p>
المُخالفات التي قد تؤدي لإيقاف الحساب مباشرة بشكل دائم:
·         أي مخالفة لشرط أو بند من شروط تطبيق وثاق
·         الإضرار بتطبيق وثاق أو بمستخدميه بأي وسيلة كانت.
.     السرقة أو الإضرار بأي خدمة تابعة لمؤسسة ليالي فرحتنا للاتصالات وتقنية المعلومات.
·         نشر أي معلومات خاصة غير متاحة لغير المستخدم نفسه بشكل نصي أو صور كالرسائل ضمن الطلبات بين البائع والمشتري، أو رسائل تذاكر الدعم الفني، ويعتبر هذا الأمر انتهاكا لخصوصية وثاق ويؤدي للإيقاف الحساب بشكل نهائي.
·         الترويج، الدعاية، الإعلان، طلبات، مبيعات، لمواقع شبيهة بوثاق
·         استغلال خدمة تطبيق وثاق لخداع أو استغلال الاخرين
·         استخدام بطاقة ائتمانية مسروقة للدفع أو أي وسيلة دفع غير قانونية.
·         الإساءة إلى أي مستخدم آخر أو جهة داخل أو خارج وثاق بأي شكل.
·         محاولة الاحتيال على تطبيق وثاق أو مستخدميه بأي طريقة.
·         القيام بدور الوسيط بين بائع ومشتري ضمن تطبيق وثاق، بحيث يستلم المبلغ من المشتري ويسلمه بنفسه للبائع، هذا الأمر يعرض الحسابات الثلاثة للإيقاف.
·         بيع الحساب في تطبيق وثاق.
·         تسجيل الشاب باسم فتاة أو العكس.
·         تكرار أكثر من مخالفة لشروط تطبيق وثاق أو تكرار إضافة المستخدم لوسائل اتصاله، أو لخدمات مخالفة.
·         استخدام تطبيق وثاق لأغراض غير الدعوات الإلكترونية مثل الدعاية والإعلانات بأي شكل كان.
·         انتحال شخصية شخص آخر.
·         عمل دعوات لمناسبة غير حقيقية أو مناسبة لأغراض غير أخلاقية تتنافى مع الدين الإسلامي أو قوانين المملكة العربية السعودية ودول الخليج العربي.
·         قرصنة أي منتج واستخدامه في تطبيق وثاق، أو طلب ذلك.
·         استخدام تصاميم لا تتفق مع قوانين الملكية الفكرية.
</p>
<p>
الدعوات المخالفة:
يحق لتطبيق وموقع وثاق رفض اي دعوة لأي سبب تراه الإدارة مناسباً دون استعادة المبلغ المدفوع في حال كانت الدعوة المرفوضة مخالفة للشروط والأحكام.
·         الدعوات غير الواضحة تماما، والتي تحتوي على كلمات غير واضحة.
·         الدعوات السياسية، الطائفية...
·         احتواء الدعوة على صورة مخالفة أو صورة سيئة الجودة أو فيديو مخالف لشروط تطبيق وثاق.
·         الدعوات المخالفة لقوانين الدول، وشروط المواقع الأخرى المتعلقة بها، أو تعاليم الإسلام.
·         استخدام صور أو فيديو مخالف لقوانين الملكية الفكرية.
·         الدعوات الموجهة لأرقام أو عناوين بريد إلكتروني غير صحيحة أو عشوائية.
·         الدعوات المرسلة باسم أشخاص اخرين دون اذنهم.
·         دعوات السبام والدعاية والإعلانات.
·         الدعوات المستخدمة لأغراض لا تتماشى مع الخدمة.
·         الخدمات التي تنفذ بشكل آلي عن طريق برامج أو مواقع.
·         الدعوات التي تؤدي إلى التعامل والدفع خارج تطبيق وثاق، وخدمات تقديم بطاقات الفيزا الافتراضية أو الحقيقية، كذلك خدمات تفعيل باي بال وما يتعلق به.
·         الخدمات التي تضر تطبيق وثاق أو مستخدميه بشكل مباشر أو غير مباشر.
هذه الشروط محل تغيير دائم وتطوير، وعلى (العميل / المُستخدِم) مراجعة هذه السياسات بشكل دوري.
عميلنا العزيز، في حال لديك أي ملاحظة على جزئية مبهمة أو خطأ في تفاصيل هذه السياسة نرجو منّك تنبيهنا على ذلك، ونشكر كل من بادروا في تنبيهنا على الأخطاءِ السابقة.
</p>
    <p>
·       سياسة التسليم: تسليم بطاقات الدعوة يكون فوري أو حسب طلب العميل بتحديد تاريخ استلام الدعوات.
    </p>
    <p>
·        سياسة الاسترجاع: يمكن لمقيم الدعوة إلغاء بطاقات الدعوة واسترجاع المبلغ كامل خلال 48 ساعة في حال تم إلغاء الدعوة قبل تاريخ إرسال الدعوات.

    </p>

<p>
سياسة الخصوصية:
</p>
    <p>
نقدر مخاوفكم واهتمامكم بشأن خصوصية بياناتكم على شبكة الإنترنت.
لقد تم إعداد هذه السياسة لمساعدتكم في تفهم طبيعة البيانات التي نقوم بتجميعها منكم عند زيارتكم لموقعنا على شبكة الانترنت وكيفية تعاملنا مع هذه البيانات الشخصية.
    </p>
    <p>
التصفح
لم نقم بتصميم هذا البرنامج من أجل تجميع بياناتك الشخصية من جهاز المحمول الخاص بك أثناء تصفحك لوثاق , وإنما سيتم فقط استخدام البيانات المقدمة من قبلك بمعرفتك ومحض إرادتك.
عمليات المسح على الشبكة
إن عمليات المسح التي نقوم بها مباشرة على الشبكة تمكننا من تجميع بيانات محددة مثل البيانات المطلوبة منك بخصوص نظرتك وشعورك تجاه برنامجنا. تعتبر ردودك ذات أهمية قصوى، ومحل تقديرنا حيث أنها تمكننا من تحسين مستوى موقعنا، ولك كامل الحرية والاختيار في تقديم البيانات المتعلقة باسمك والبيانات الأخرى.
الروابط بالمواقع الأخرى على شبكة الإنترنت
قد يشتمل برنامجنا على روابط بالمواقع الأخرى على شبكة الإنترنت. او عانات من مواقع اخرى مثل Google AdSense ولا نعتبر مسئولين عن أساليب تجميع البيانات من قبل تلك المواقع، يمكنك الاطلاع على سياسات السرية والمحتويات الخاصة بتلك المواقع التي يتم الدخول إليها من خلال أي رابط ضمن هذا الموقع.
نحن قد نستعين بشركات إعلان لأطراف ثالثة لعرض الإعلانات عندما تزور موقعنا على الويب. يحق لهذه الشركات أن تستخدم معلومات حول زياراتك لهذا الموقع ولمواقع الويب الأخرى (باستثناء الاسم أو العنوان أو عنوان البريد الإلكتروني أو رقم الهاتف)، وذلك من أجل تقديم إعلانات حول البضائع والخدمات التي تهمك. إذا كنت ترغب في مزيد من المعلومات حول هذا الأمر وكذلك إذا كنت تريد معرفة الاختيارات المتاحة لك لمنع استخدام هذه المعلومات من قِبل هذه الشركات، فالرجاء النقر هنا.
إفشاء المعلومات
سنحافظ في كافة الأوقات على خصوصية وسرية كافة البيانات الشخصية التي نتحصل عليها. ولن يتم إفشاء هذه المعلومات إلا إذا كان ذلك مطلوباً بموجب أي قانون أو عندما نعتقد بحسن نية أن مثل هذا الإجراء سيكون مطلوباً أو مرغوباً فيه للتمشي مع القانون , أو للدفاع عن أو حماية حقوق الملكية الخاصة بهذا الموقع أو الجهات المستفيدة منه.
البيانات اللازمة لتنفيذ المعاملات المطلوبة من قبلك
عندما نحتاج إلى أية بيانات خاصة بك، فإننا سنطلب منك تقديمها بمحض إرادتك. حيث ستساعدنا هذه المعلومات في الاتصال بك وتنفيذ طلباتك حيثما كان ذلك ممكنناً. لن يتم اطلاقاً بيع البيانات المقدمة من قبلك إلى أي طرف ثالث بغرض تسويقها لمصلحته الخاصة دون الحصول على موافقتك المسبقة والمكتوبة ما لم يتم ذلك على أساس أنها ضمن بيانات جماعية تستخدم للأغراض الإحصائية والأبحاث دون اشتمالها على أية بيانات من الممكن استخدامها للتعريف بك.
    </p>

<p>
عند الاتصال بنا
سيتم التعامل مع كافة البيانات المقدمة من قبلك على أساس أنها سرية. تتطلب النماذج التي يتم تقديمها مباشرة على الشبكة تقديم البيانات التي ستساعدنا في تحسين موقعنا. سيتم استخدام البيانات التي يتم تقديمها من قبلك في الرد على كافة استفساراتك، ملاحظاتك، أو طلباتك من قبل هذا الموقع أو أيا من المواقع التابعة له.
إفشاء المعلومات لأي طرف ثالث
لن نقوم ببيع، المتاجرة، تأجير، أو إفشاء أية معلومات لمصلحة أي طرف ثالث خارج هذا الموقع، أو المواقع التابعة له. وسيتم الكشف عن المعلومات فقط في حالة صدور أمر بذلك من قبل أي سلطة قضائية أو تنظيمية.
من الممكن في بعض الأحيان الاستفادة من المعلومات العامة في الإعلانات والتسويق دون افشاء أي بيانات معلوماتك الخاصة.
التعديلات على سياسة سرية وخصوصية المعلومات
نحتفظ بالحق في تعديل بنود وشروط سياسة سرية وخصوصية المعلومات إن لزم الأمر ومتى كان ذلك ملائماً. سيتم تنفيذ التعديلات هنا او على صفحة سياسة الخصوصية الرئيسية وسيتم بصفة مستمرة إخطارك بالبيانات التي حصلنا عليها، وكيف سنستخدمها والجهة التي سنقوم بتزويدها بهذه البيانات.

</p>
</div>

</body>
</html>